* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body{
    font-size: 16px;

}
a{
  color: green;
  text-decoration: none;

}
h2{
   text-transform: capitalize;
}

header{
    width: 100%;
    background: #ccc;
    padding: 10px;

}

.logo {
  
  display: inline-block;
}

.logo small {
    font-size: 14px;
    
}
.block {
    
    padding: 10px;
    text-align: justify;
    line-height: 1.4;
}
.post {
    border-bottom: rgb(194, 182, 182) 1px solid;
    margin-bottom: 20px;
    
}
.button {
    margin-bottom: 10px;
    display: inline-block;
}
.logo-right {
    float: right;
    margin-top: 10px;
}

.container{
    width: 940px;
    margin: 0 auto;
}

nav {
    background: lightgreen;
    border-top: 2px solid white;
}
.nav-menu{
    list-style: none;
    
    float: right;
    padding: 10px;
    
    
}

.content {
    height: 77vh;
    margin-top: 10px;
    
}

.clearfix {
    clear: both;
}
.nav-menu li {
    display: inline-block;
    
    
}

  .main {
      width: 70%;
      height: 100%;
      float: left;
  }

  

  .side {
      width: 28%;
      float: right;
  }
.footer {
    background: rgb(238, 245, 199);
    padding: 10px;
    margin-top: 10px;
    color: rgb(32, 30, 30);
    height: 10vh;
}

.footer-right {
    float: right;
    
}

.footer-left {
    float: left;
    
}
.clearfix {
    clear: both;
}

.footer-right , .footer-left {
    margin: 20px;
}